
<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div class="navbar-nav mr-auto p-4">
      <a class="nav-item nav-link" routerLink="/home">
        <i class="fab fa-twitter twitter-icon"></i>
      </a>
    </div>
    <div class="navbar-nav d-flex align-items-center">
      <a class="nav-item nav-link" routerLink="/home">
        <span class="icon-text">{{ pageName }}</span>
      </a>
    </div>
    <form class="form-inline mt-1">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
